@if (loading) {
<div
  class="bg-seguni-950 w-screen h-screen flex flex-col justify-center items-center"
>
  <i class="bx bx-loader-circle bx-spin text-5xl text-white mb-6"></i>
  <span class="text-3xl text-white">Cargando Aplicativo</span>
</div>
} @else {
<div class="h-screen flex gap-x-12 bg-slate-50 overflow-hidden">
  <sidebar />
  <div class="flex-1 py-6 px-0 overflow-y-auto overflow-x-hidden">
    <div class="flex flex-col w-full h-full relative">
      <navbar />
      <div class="ps-8 pe-12 pb-6">
        <router-outlet />
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
>
  <p style="color: white">Cargando...</p>
</ngx-spinner>

<p-toast position="bottom-right"></p-toast>
}
