$user-themes: (
    default: (selector: ".theme-default",
        primary: (50: #eef8ff,
            100: #dcf1ff,
            200: #b2e5ff,
            300: #6dd1ff,
            400: #20baff,
            500: #00a2ff,
            600: #0080df,
            700: #0066b4,
            800: #005695,
            900: #00477a,
            950: #00335d,
            DEFAULT: #00335d,
            contrast: (50: #00335d,
                100: #00335d,
                200: #00335d,
                300: #00335d,
                400: #00335d,
                500: #ffffff,
                600: #ffffff,
                700: #ffffff,
                800: #ffffff,
                900: #ffffff,
                950: #FFFFFF,
                DEFAULT: #FFFFFF)),
        accent: (50: #f3faf3,
            100: #e3f5e3,
            200: #c8eac9,
            300: #9dd89f,
            400: #6bbd6e,
            500: #4caf50,
            600: #358438,
            700: #2d6830,
            800: #275429,
            900: #224525,
            950: #0e2510,
            DEFAULT: #4caf50,
            contrast: (50: #0e2510,
                100: #0e2510,
                200: #0e2510,
                300: #0e2510,
                400: #0e2510,
                500: #FFFFFF,
                600: #FFFFFF,
                700: #FFFFFF,
                800: #FFFFFF,
                900: #FFFFFF,
                950: #FFFFFF,
                DEFAULT: #FFFFFF)),
        warn: (50: #fdf3f3,
            100: #fde3e3,
            200: #fbcdcd,
            300: #f8a9a9,
            400: #f17878,
            500: #e74c4c,
            600: #d32f2f,
            700: #b12424,
            800: #932121,
            900: #7a2222,
            950: #420d0d,
            DEFAULT: #d32f2f,
            contrast: (50: #420d0d,
                100: #420d0d,
                200: #420d0d,
                300: #420d0d,
                400: #FFFFFF,
                500: #FFFFFF,
                600: #FFFFFF,
                700: #FFFFFF,
                800: #FFFFFF,
                900: #FFFFFF,
                950: #FFFFFF,
                DEFAULT: #FFFFFF)))
);